<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/funding/funding-detail.css}"
          href="../../static/css/funding/funding-detail.css" rel="stylesheet">

    <title>Title</title>
</head>
<body>
<!-- nav bar -->
<nav>
    <div>
        <ul>
            <li>
                <a href="DataCenter/html/datacenter.html"
                   th:href="@{/datacenter}">
                    <img
                            class="datacenter-img"
                            src="../../static/img/datacenter.png"
                            th:src="@{/img/datacenter.png}"
                    />
                    <h>데이터 센터</h>
                </a>

            </li>
            <li>
                <a href="../index.html"
                   th:href="@{/}">
                    <img
                            class="news-img"
                            src="../../static/img/trade.png"
                            th:src="@{/img/trade.png}"/>
                    <h>선물거래</h>
                </a>
            </li>
            <li>
                <a href="../index.html"
                   th:href="@{/}">
                    <img
                            class="trade-img"
                            src="../../static/img/news.png"
                            th:src="@{/img/news.png}"/>
                    <h>뉴스</h>
                </a>
            </li>
            <li>
                <a href="../funding/main-crowdFunding.html"
                   th:href="@{/crowd}">
                    <img
                            class="funding-img"
                            src="../../static/img/crowdfunding.png"
                            th:src="@{/img/crowdfunding.png}"/>
                    <h>크라우드 펀딩</h>
                </a>
            </li>
        </ul>

    </div>
</nav>

<div class="index-top">
    <div class="index-top-left">
        <img
                th:onclick="|location.href='@{/}'|"
                src="../../static/img/logo_small.png"
                th:src="@{/img/logo_small.png}"/>
    </div>
    <div class="index-top-right">
        <img
                src="../../static/img/table.png"
                th:src="@{/img/table.png}"/>
        <img
                src="../../static/img/person.png"
                th:src="@{/img/person.png}"/>

        <a sec:authorize="isAnonymous()"
           href="login.html"
           th:href="@{/account/login}">로그인</a>

        <h
                sec:authorize="isAnonymous()">또는
        </h>

        <a sec:authorize="isAnonymous()"
           href="join.html"
           th:href="@{/account/join}">회원가입</a>

        <h
                sec:authorize="isAuthenticated()"
        >안녕하세요!
        </h>
        <a
                sec:authorize="isAuthenticated()"
                href="login.html"
                th:href="@{/account/login}">
        </a>
    </div>
</div>

<div class="contents">
    <div class="title-contents">
        <h1>
            7월 대표 복숭아 3종!
        </h1>
    </div>
    <div class="img-contents">
        <img
                src="../../static/img/peach.jpeg"
                th:src="@{/img/fruit.png}"/>
    </div>
    <div class="info-contents">
        <p>금액 펀딩 중</p>
        <p>2276% 달성</p>
        <p>11,380,800원 펀딩</p>
        <p>269명의 서포트</p>
    </div>
</div>

<div class="main-contents">
    <img
            src="../../static/img/fruit.png"
            th:src="@{/img/fruit.png}"/>
    <img
            src="../../static/img/fruit.png"
            th:src="@{/img/fruit.png}"/>
    <img
            src="../../static/img/fruit.png"
            th:src="@{/img/fruit.png}"/>
    <img
            src="../../static/img/fruit.png"
            th:src="@{/img/fruit.png}"/>
    <img
        src="../../static/img/fruit.png"
        th:src="@{/img/fruit.png}"/>
    <img
            src="../../static/img/fruit.png"
            th:src="@{/img/fruit.png}"/>
    <img
        src="../../static/img/fruit.png"
        th:src="@{/img/fruit.png}"/>


</div>

<div class="funding-btn">
    <button>
        펀딩하기
    </button>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="footer-inner">
        <p>경북협동조합 농부아지야</p>
        <hr/>
        <ul>
            <li><a href="#">농넷</a></li>
            <li><a href="#">KAMIS</a></li>
            <li><a href="#">한국농어촌공사</a></li>
            <li><a href="#">영남대학교</a></li>
        </ul>
    </div>
</footer>

</body>
</html>