<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/mainpage.css" rel="stylesheet">
    <link href="/css/search.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <title>Test Page</title>
</head>
<body>


<nav>
    <ul>
        <li>
            <a href="../DataCenter/html/DataCenter.html"
               th:href="@{/datacenter}">
                <img
                        class="datacenter-img"
                        src="img/datacenter.png"
                        th:src="@{/img/datacenter.png}"/>
                <h>데이터 센터</h>
            </a>
        </li>
        <li>
            <a href="../index.html"
               th:href="@{/}">
                <img
                        class="news-img"
                        src="img/trade.png"
                        th:src="@{/img/trade.png}"/>
                <h>선물거래</h>
            </a>
        </li>
        <li>
            <a href="../index.html"
               th:href="@{/}">
                <img
                        class="trade-img"
                        src="img/news.png"
                        th:src="@{/img/news.png}"/>
                <h>뉴스</h>
            </a>
        </li>
        <li>
            <a href="../funding/main-crowdFunding.html"
               th:href="@{/crowd}">
                <img
                        class="funding-img"
                        src="img/crowdfunding.png"
                        th:src="@{/img/crowdfunding.png}"/>
                <h>크라우드 펀딩</h>
            </a>
        </li>
    </ul>
</nav>

<!--item content-->
<!-- 주제 로고 및 설명 -->
<div class="background">
    <!-- 로고 및 로그인,로그아웃,마이페이지-->
    <div class="index-top">
        <div class="index-top-left">
            <img
                    th:onclick="|location.href='@{/}'|"
                    src="img/logo_small.png"
                    th:src="@{/img/logo_small.png}"/>
        </div>
        <div class="index-top-right">
            <img
                    src="../../static/img/table.png"
                    th:src="@{/img/table.png}"/>
            <img
                    src="../../static/img/person.png"
                    th:src="@{/img/person.png}"/>

            <a sec:authorize="isAnonymous()"
               href="login.html"
               th:href="@{/account/login}">로그인</a>

            <h
                    sec:authorize="isAnonymous()">또는
            </h>

            <a sec:authorize="isAnonymous()"
               href="join.html"
               th:href="@{/account/join}">회원가입</a>

            <h
                    sec:authorize="isAuthenticated()"
            >안녕하세요!
            </h>
            <a
                    sec:authorize="isAuthenticated()"
                    href="login.html"
                    th:href="@{/account/login}">
            </a>
        </div>
    </div>
    <hr>

    <!-- 폰트 로고 및 주제 -->
    <div class="title">
        <p>
            경북에서 가장 저렴한 농산물 플랫폼
        </p>
        <img src="/img/logo_font.png"
             th:onclick="|location.href='@{/search}'|"
             th:src="@{/img/logo_font.png}"
        >
    </div>

    <!-- 내용 -->
    <section class="contents_section">
        <!-- 검색-->
        <div class="search">
            <button class="detailSearchBtn"></button>
            <form action="./keywordSearch" method="get" name="keywordSearch">
                <input id="searchbox" type="text" name="keyword" placeholder="검색어 입력"
                       onkeypress="if(event.keyCode == 13){doAction1(); return false;}"
                       onfocus="this.placeholder=''" onblur="this.placeholder='검색어 입력'" autocomplete="off">
                <button class="searchBtn" type="button" onclick="doAction1()">검색</button>
            </form>
        </div>

        <!--상세 검색 모달 페이지-->
        <div class="modal hidden">
            <div class="bg"></div>
            <span class="modalBox">
                <h2 style="text-align:center; margin-top:10px;"><b>상세 검색</b></h2>
                <form action="./detailSearch" method="get" name="detailSearch">
                    <div class="firstFilter">
                        <div class="titleDiv">
                            <p style="margin-left: 87px;"><b>카테고리</b></p>
                            <p style="margin-left: 205px;"><b>품목</b></p>
                            <p style="margin-left: 215px;"><b>출하기간</b></p>
                        </div>
                        <div class="firstDiv1">
                            <select multiple class="form-control" id="categoryA" name="categoryA" autocomplete="off"
                                    onchange="categoryChange(this)">
                                <option value="과일" style="font-size:16px; margin-top:15px;"><b>과일</b></option>
                                <option value="채소" style="font-size:16px; margin-top:15px;"><b>채소</b></option>
                                <option value="작물" style="font-size:16px; margin-top:15px;"><b>작물</b></option>
                            </select>
                        </div>

                        <div class="firstDiv2">
                            <select multiple class="form-control" id="categoryB" name="categoryB"></select>
                        </div>

                        <span class="firstDiv3">
                            <img src="/img/calender.png" class="calender1">
                            <input type="text" id="datepicker1" name="date1" autocomplete="off">
                            <p style="margin-top:45px;">부터</p>
                            <br><br>
                            <img src="/img/calender.png" class="calender2">
                            <input type="text" id="datepicker2" name="date2" autocomplete="off">
                            <p>까지</p>
                        </span>
                    </div>

                    <div class="secondFilter">
                        <div class="titleDiv">
                            <p style="margin-left: 87px;"><b>협동조합</b></p>
                            <p style="margin-left: 205px;"><b>가격</b></p>
                        </div>
                        <div class="secondDiv1">
                            <select multiple class="form-control" id="johab" name="johab" autocomplete="off">
                                <option th:each="johab:${johab}" style="font-size:16px; margin-top:15px;" th:value="${johab}"
                                th:text="${johab}">
                                </option>
                            </select>
                        </div>

                        <div class="secondDiv2">
                            <input type="number" id="price1" name="price1" autocomplete="off">
                            <p style="margin-top:45px;">원</p>
                            <br><br>
                            <input type="number" id="price2" name="price2" autocomplete="off">
                            <p>원</p>
                        </div>

                        <div class="secondDiv3">

                        </div>
                    </div>

                    <img src="img/redo.png" class="redoImg">
                    <button class="resetBtn" type="reset" onclick="reset()"><b>필터 초기화</b></button>
                    <button class="submit" type="reset" onclick="doAction2()">확인</button>
                </form>
                <button class="closeBtn">취소</button>
            </span>
        </div>

        <!-- 해시태그-->
        <div class="hash-tag" style="margin-top:50px;">
            <ul>
                <li><a>#사과</a></li>
                <li><a>#쌀</a></li>
                <li><a>#포도</a></li>
            </ul>
        </div>
    </section>

    <div th:switch="${total}">
        <div th:if="${total == 0}" style="height:500px;">
            <div style="text-align: center; margin-top:350px; font-size:32px;">
                검색 결과가 없습니다.
            </div>
        </div>
        <div th:if="${total >= 1}">
            <!-- search info-->
            <div style="text-align: center; margin-right:560px; margin-top:50px;">
                <p>
                    <b th:text="${categoryA}"></b> <b> > </b>
                    <b th:text="${categoryB}"></b> <b> > </b>
                    <b th:text="${date1}"></b> <b> ~ </b>
                    <b th:text="${date2}"></b><b> > </b>
                    <b th:text="${johabb}"></b><b> > </b>
                    <b th:text="${price1}"></b><b>원 ~</b>
                    <b th:text="${price2}"></b><b>원</b>
                </p>
            </div>

            <!--content-->
            <div class="Rescontainer">
                <div th:each="detailList : ${detailList}">
                    <div class="filterDiv" style="height:230px; margin-top: 80px; position: relative;">
                        <div class="JohabTag" th:text="${detailList.getJohab()}"></div>
                        <a href="#">
                            <img src="" th:src="@{${detailList.getImgsrc()}}"
                                 style="border-radius: 20px; width:180px; height:180px; display:block; text-align: center;">
                            <p style="clear:both; margin-top: 20px; width:180px;"><b th:text="${detailList.getProduct_name()}"></b></p>
                            <p style="clear:both; margin-top: 10px; color:green"><b>거래 가능</b></p>
                        </a>
                    </div>
                </div>
            </div>

            <!--Page-->
            <div class="pageInfo_area" style="margin-top:30px;">
                <ul id="pageInfo" class="pageInfo">
                    <!-- 이전페이지 버튼 -->
                    <div th:if="${pagingD.prev}">
                        <li class="pageInfo_btn previous"><a th:href="${pagingD.startPage - 1}"> 이전 </a></li>
                    </div>

                    <th:block th:each="num : ${#numbers.sequence(pagingD.startPage, pagingD.endPage)}">
                        <li class="pageInfo_btn"><a th:href="${num}"><p th:text="${num}"></p></a></li>
                    </th:block>

                    <!-- 다음페이지 버튼 -->
                    <div th:if="${pagingD.next}">
                        <li class="pageInfo_btn next"><a th:href="${pagingD.endPage + 1}"> 다음 </a></li>
                    </div>
                </ul>
            </div>

            <form id="actionForm" method="get">
                <input type="hidden" name="categoryA" th:value="${categoryA}">
                <input type="hidden" name="categoryB" th:value="${categoryB}">
                <input type="hidden" name="date1" th:value="${date1}">
                <input type="hidden" name="date2" th:value="${date2}">
                <input type="hidden" name="price1" th:value="${price1}">
                <input type="hidden" name="price2" th:value="${price2}">
                <input type="hidden" name="johab" th:value="${johabb}">
                <input type="hidden" name="pageNum" th:value="${pagingD.cri.pageNum}">
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer" style="margin-top: 80px;">
        <div class="footer-inner">
            <div><i class="fas fa-globe fa-2x"></i> 한국어</div>
            <ul style="margin-left:50%;">
                <li><a href="https://www.nongnet.or.kr/index.do" target="_blank">농넷</a></li>
                <li><a href="https://www.kamis.or.kr/customer/main/main.do" target="_blank">KAMIS</a></li>
                <li><a href="https://kosis.kr/statHtml/statHtml.do?orgId=678&tblId=DT_67801_E000020&conn_path=I2"
                       target="_blank">한국농어촌공사</a></li>
                <li><a href="https://www.yu.ac.kr/main/index.do" target="_blank">영남대학교</a></li>
            </ul>
        </div>
    </footer>

    <script type="text/javascript" src="/js/buttonCondition.js"></script>
    <script type="text/javascript" src="/js/divFilter.js"></script>
    <script type="text/javascript" src="/js/tableFilter.js"></script>
    <script type="text/javascript" src="/js/modal.js"></script>
    <script type="text/javascript" src="/js/changer.js"></script>
    <script type="text/javascript" src="/js/datepicker.js"></script>
    <script type="text/javascript" src="/js/buttonCondition.js"></script>
    <script type="text/javascript" src="/js/paging.js"></script>
</div>
</body>

</html>

