<!--
https://codepen.io/bradtraversy/pen/ZEGGNRb
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/user/login.css}"
          href="../../static/css/user/login.css" rel="stylesheet">


    <title>농부아지야</title>

</head>
<body>

<!-- nav bar -->
<nav>
    <div>
        <ul>
            <li>
                <a href="DataCenter/html/datacenter.html"
                   th:href="@{/datacenter}">
                    <img
                            class="datacenter-img"
                            src="../../static/img/datacenter.png"
                            th:src="@{/img/datacenter.png}"/>
                    <h>데이터 센터</h>
                </a>

            </li>
            <li>
                <a href="../index.html"
                   th:href="@{/}">
                    <img
                            class="news-img"
                            src="../../static/img/trade.png"
                            th:src="@{/img/trade.png}"/>
                    <h>선물거래</h>
                </a>
            </li>
            <li>
                <a href="../index.html"
                   th:href="@{/}">
                    <img
                            class="trade-img"
                            src="../../static/img/news.png"
                            th:src="@{/img/news.png}"/>
                    <h>뉴스</h>
                </a>
            </li>
            <li>
                <a href="../funding/main-crowdFunding.html"
                   th:href="@{/crowd}">
                    <img
                            class="funding-img"
                            src="../../static/img/crowdfunding.png"
                            th:src="@{/img/crowdfunding.png}"/>
                    <h>크라우드 펀딩</h>
                </a>
            </li>
        </ul>

    </div>

</nav>
<!-- login top -->
<div class="login-top">
    <div class="login-top-left">
        <img
                th:onclick="|location.href='@{/}'|"
                src="../../static/img/logo_white.png"
                th:src="@{/img/logo_white.png}"/>
    </div>
    <div class="login-top-right">
        <img
                src="../../static/img/table.png"
                th:src="@{/img/table.png}"/>
        <img
                src="../../static/img/person.png"
                th:src="@{/img/person.png}"/>

        <a sec:authorize="isAnonymous()"
           href="login.html"
           th:href="@{/account/login}">로그인</a>

        <h>또는</h>

        <a sec:authorize="isAnonymous()"
           href="join.html"
           th:href="@{/account/join}">회원가입</a>
    </div>
</div>

<!-- login center-->
<div class="login-center">

    <!-- login background image(left)-->
    <div class="login-background">
        <div>
            <p class="login-title">
                로그인
            </p>
            <p class="login-explain">
                1분만에 로그인하고 <br> 농부아지야에서 저렴한 농산물을 둘러보세요.
            </p>
        </div>
    </div>


    <!--login content(right)-->
    <div class="login">
        <section>
            <!-- e-mail / id -->
            <div class=form>
                <div>
                    <img
                            th:onclick="|location.href='@{/}'|"
                            class="previous-img"
                            src="../../static/img/previous_arrow.png"
                            th:src="@{/img/previous_arrow.png}"/>
                </div>
                <div>
                    <form method="post" action="/doLogin">
                        <div>
                            <p>아이디(이메일)</p>
                            <input id="id" type="text" name="username" title="username">
                        </div>
                        <!-- 패스워드 -->
                        <div>
                            <p>비밀번호</p>
                            <input id="pw" type="password" name="pw" title="PW">
                        </div>
                        <!-- 로그인 실행-->
                        <input id="login" href="/doLogin" class="" type="submit" value="로그인">
                    </form>
                </div>

                <div class="login-bottom">
                    <p>농부아지야 계정이 없으신가요?</p>
                    <button
                            href="user/join.html"
                            th:onclick="|location.href='@{/account/join}'|">
                        회원 가입하기
                    </button>
                </div>
            </div>

        </section>
    </div>

</div>

<!-- Footer -->
<footer class="footer">
    <div class="footer-inner">
        <p>경북협동조합 농부아지야</p>
        <hr/>
        <ul>
            <li><a href="#">농넷</a></li>
            <li><a href="#">KAMIS</a></li>
            <li><a href="#">한국농어촌공사</a></li>
            <li><a href="#">영남대학교</a></li>
        </ul>
    </div>
</footer>

</body>
</html>