@charset "utf-8";
/*

[ 기준 색상 코드 ]
주조색(자주-변경X)
	배경 : #f1426d
	텍스트 : #dc4f72
보조색(보라-기본색상)
	배경 : #484592
	텍스트 : #4c47c7, light/#efe8f7, deep/#3d3a89
hover 연한 배경색 : #f6f6fc
line : #ddd

*/

/* ----- S : layout ----- */
.wrap_pop { min-width: 750px; opacity: 0.4; }
.wrap_pop.fadein { opacity: 1; transition: ease-in-out 0.3s; }
.pop_body { position: absolute; top: 50px; bottom: 0; left: 0; right: 0; min-width: 750px; max-width: 1330px; margin: 0 auto; padding: 30px; box-sizing: border-box; }
.pop_body .flex_h { height: 100%; }
.pop_body .flex_h.top_h4 { height: calc(100% - 46px); }
/* ----- E : layout ----- */
.pop_nomargin { margin: -30px; }
.pop_nomargin.mb0 { margin-bottom: 0; }


/* title */
.tit_pop { position: relative; }
.tit_pop em { color: #ddd; font-size: 16px; font-weight: 400; }
.tit_pop a { float: right; width: 50px; height: 50px; color: #ddd; border-left: 1px solid #6f6cb7; }
.tit_pop a:hover { color: #fff; background-color: rgba(255,255,255,0.1); }
.tit_pop a > i.fa-times { line-height: 50px; font-size: 20px; }
.stit_pop { background: #f6f6f6; padding: 12px 24px; line-height: 34px; border: 1px solid #ddd; }



/* section */
.pop_body .sect_wr.column2_7to3 > div { float: left; height: 100%; border-left: 1px solid #eee; }
.pop_body .sect_wr.column2_7to3 > div:first-of-type { width: 70%; padding-left: 0; border-left: 0; }
.pop_body .sect_wr.column2_7to3 > div:last-of-type { width: 30%; padding-right: 0; }


.pop_body .lgd_line { padding: 0 0 10px 0; }
.box_date { margin-bottom: 32px; padding: 8px 24px; text-align: center; border: 1px solid #ddd; }
.box_date .fix_range { display: inline-block; overflow: hidden; }
.box_date .fix_range > input { width: 250px; font-size: 18px; }
.box_date .fix_range span.unit { margin-left: 24px; }



/* table */
.tbl03 { width: 100%; text-align: center; line-height: 18px; border-top: 1px solid #aaa; font-size: 14px; letter-spacing: 0; }
.tbl03 th { background: #f6f6f6; padding: 10px; font-weight: 700; border-bottom: 1px solid #aaa; text-align: center;}
.tbl03 th:first-child { border-left: 1px solid #aaa; }
.tbl03 th:last-child { border-right: 1px solid #aaa; }
.tbl03 th em { font-size: 11px; font-weight: 400; }
.tbl03 td { background: #fff; padding: 10px; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; }
.tbl03 td:first-child { border-left: 0; }
.tbl03 td:nth-child(1)[rowspan], .tbl03 td.linel { border-left: 1px solid #ddd; }
.tbl03 td strong { color: #dc4f72; font-weight: 800; }
.tbl03 td strong.red { color: #e74a2b; font-weight: 700; }
.tbl03 td strong.blue { color: #0a75de; font-weight: 700; }
.tbl03 tr.bgcolor td { background: #f6f6f6; }

/* list */
.tbl_list { height: 100%; }
.tbl_list .scroll { height: calc(100% - 33px); overflow-y: auto; }
.tbl_list .scroll .ranking02 > li { padding: 0 12px; line-height: 38px; border-bottom: 1px solid #eee; }
.tbl_list .scroll .ranking02 > li:last-of-type { border-color: #ddd; }

.tbl_list.column4 > div { float: left; width: 23.5%; height: 100%; margin-left: 2%; }
.tbl_list.column4 > div:first-of-type { margin-left: 0; }

/* 우편번호 찾기 */
.zipcode { height: calc(100% - 125px); }
.zipcode .list_none { background: none; }
.zipcode .list_none em { font-weight: 700; }
.zipcode .list_none strong { color: #4b47c7; font-weight: 400; }
.zipcode .total { float: right; color: #333; padding-bottom: 10px; }
.zipcode .total em { color: #4c47c7; font-size: 16px; font-family: 'NanumSquareRound'; font-weight: 700; }
.list_zipcode { width: 100%; max-height: calc(100% - 90px); margin-bottom: 24px; overflow: hidden; overflow-y: scroll; clear: both; }
.list_zipcode tr:first-of-type td { border-top: 0; }
.list_zipcode td:nth-child(1) { width: 60px; font-size: 16px; font-family: 'NanumSquareRound'; font-weight: 700; }
.list_zipcode td:nth-child(2) { text-align: left; }
.list_zipcode td:nth-child(3) { width: 50px; }


/* 원문 미리보기 */
.wrap_list_raw { height: calc(100% - 134px); }
.wrap_list_raw .addt { display: block; text-align: right; }
.wrap_list_raw .addt strong { font-size: 16px; font-weight: 700; }
.list_raw { height: calc(100% - 31px); }
.list_raw .tit { color: #333; line-height: 28px; font-size: 14px; font-weight: 700; }
.list_raw .link { letter-spacing: 0; }
.list_raw > div { background: #f6f6f6; margin: 0 2px 12px 0; padding: 14px 24px; line-height: 18px; font-size: 13px; }
.list_raw > div:last-of-type { margin-bottom: 0; }
.list_raw p { color: #333; }
.list_raw p .date { color: #777; }
.list_raw p .date::before { content: ''; display: inline-block; width: 1px; height: 8px; background: #ccc; margin: 0 6px; }

.btn_pop_close { position: absolute; top: 0; right: 0; color: #fff; background: rgba(255,255,255,.05); padding: 17px 20px; border-left: 1px solid rgba(255,255,255,.1); opacity: .6; cursor: pointer; }
.btn_pop_close:hover { opacity: 1; }







/* 레이어 팝업 */
.popup_layer_close { position: absolute; top: 0; right: 0; color: #777; padding: 12px 16px; font-size: 20px; }
.popup_layer_close:hover { color: #333; }
.popup_layer_close.color_wh { padding: 19px 24px; color: #fff; /* background: rgba(255,255,255,.1); border-left: 1px solid rgba(255,255,255,.2); */ opacity: .8; }
.popup_layer_close.color_wh:hover { opacity: 1; }
.popup_layer_reject { position: absolute; bottom: 12px; right: 14px; color: rgba(255,255,255,.8); }
.popup_layer_reject:hover { color: #fff; }.dim-layer {position: fixed; _position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 100; }
.dim-layer .dimBg {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: .5; filter: alpha(opacity=50);}
.dim-layer .pop-layer {display: block;}
.popup {position: absolute; box-shadow: 1px 1px 6px rgba(0,0,0,0.5); top: 50%; left: 50%; transform: translate(-50%, -50%); }
.popup_footer {padding: 10px 0; background: #000; color: #fff; text-align: right; }
.popup_footer button {margin-right: 10px; padding: 5px 10px; border: 0; background: #4F4F4F; color: #FFFFFF;}




/* layerpopup */
.pop_layer { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; z-index: 1000; }
.poply_box { position: relative; top: 50%; left: 50%; width: 50%; min-width: 767px; height: 90%; background: #fff; transform: translateX(-50%); box-shadow: 0 0 5px rgba(0,0,0,.2); z-index: 1010; }

.layer_mask { position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: #000; opacity: .2; z-index: 1000; }


/* layerpopup add report */
.pop_rptadd { position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 390px; background: #fff; padding: 56px 20px 40px; text-align: center; border-radius: 3px; z-index: 100; box-shadow: 0 0px 5px 0 rgba(0,0,0,.15); }
.rptadd_close { position: absolute; top: 12px; right: 18px; color: #333; font-size: 20px; }
.rptadd_close:hover { color: #4c47c7; }
.pop_rptadd .fa-folder-plus { color: #aaa; margin-bottom: 15px; font-size: 42px; }
.pop_rptadd .fa-info-circle { color: #aaa; margin-bottom: 15px; font-size: 42px; }
.pop_rptadd .fa-exclamation-circle { color: #aaa; margin-bottom: 15px; font-size: 42px; }
.pop_rptadd .fa-check-circle { color: #aaa; margin-bottom: 15px; font-size: 42px; }
.pop_rptadd p { color: #333; font-size: 15px; font-weight: 700; font-family: 'NanumSquareRound'; }
.pop_rptadd p.info { color: #999; font-size: 13px; line-height: 22px; font-weight: 400; }
.pop_rptadd .btnarea { margin-top: 10px; }
.pop_rptadd .btnarea > div:first-of-type { display: inline-block; margin-left: 80px; }
.pop_rptadd .btnarea a { margin-left: 4px; }
.pop_rptadd .btnarea a:first-of-type { margin-left: 0; }

.pop_rptadd.big { top: 316px; width: 850px; padding: 30px 20px 30px; }
.main.pop_rptadd.big { position: absolute; top: 646px; left: 50%; }
