.top-div {
	width: 100%;
	height: 300px;
	background-color: #00853E;
}

.main-nabar {
	background-color: #444444;
	width: 100%;
	height: 40px;
	top: 0px;
	left: 0px;
}

body {
	font: normal normal normal 15px/21px AppleSDGothicNeoM00;
	background: #F5F5F7 0% 0% no-repeat padding-box;
	margin:0px;
}

.menu-area {
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 40px;
}

.menu-area img {
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.menu-area a {
	color: white;
	text-decoration: none;
	vertical-align: middle;
	margin-right: 20px;
}

.img-div {
	width: 100%;
	height: 50px;
	border-bottom: 1px groove white;
}

.img-area {
	width: 60%;
	margin: auto;
}

.img-logo {
	float: left;
	line-height: 50px;
}

.img-logo #logo {
	width: 150px;
	height: 30px;
	vertical-align: middle;
}

.user-area {
	height: 100%;
	float: right;
	line-height: 50px;
	color: white;
}

.user-area img {
	width: 15px;
	width: 15px;
	vertical-align: middle;
	margin-right: 10px;
}

.producer-div {
	width: 100%;
	height: 200px;
}

.producer-area {
	width: 60%;
	height: auto;
	margin: auto;
	padding-top: 25px;
}

.pagename p {
	color: white;
	font-size: 25px;
}

.producer-area2 {
	width: 60%;
	height: 55px;
	margin: auto;
	line-height: 55px;
}

.hi {
	float: left;
	color: #FFC400;
	font-size: 55px;
	font-weight: bold;
}

.logout {
	float: right;
	vertical-align: middle;
}

.logout button {
	text-align: center;
	width: 80px;
	height: 40px;
	background-color: white;
	border-radius: 28px;
	border: 0px;
	font-weight: bold;
}
.logout a{
	color: black;
	text-decoration: none;
}

.mid-div {
	width: 60%;
	height: 300px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px;
}

.userimg-div {
	width: 220px;
	height: 220px;
	float: left;
}

.userimg-div img {
	height: 220px;
	width: 220px;
}

.userinfo-div {
	height: 130px;
	width: 70%;
	border-bottom: 1px solid black;
	float: right;
	margin-bottom: 20px;
}

.userinfo {
	height: auto;
}

.userinfo2 {
	float: left;
	font-weight: bold;
}

.userup {
	float: right;
}

.userup a {
	color: black;
	font-weight: bold;
}

.userphone-div {
	height: 130px;
	width: 70%;
	border-bottom: 1px solid black;
	float: right;
}

.userphone {
	height: auto;
}

.userphone2 {
	float: left;
	font-weight: bold;
}

.userupdate-div {
	width: 220px;
	height: 80px;
	float: left;
}

.grade-area {
	width: 70px;
	height: 34px;
	float: right;
	margin-top: 30px;
	line-height: 34px;
	border-bottom: 1px solid black;
	text-align: center;
}

.grade-area a {
	vertical-align: middle;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.btn-area {
	margin-top: 30px;
	width: auto;
	float: left;
}

.btn-area a{
	text-decoration:none;
	color: black;
	
}

.btn-area button {
	background-color: #00853D;
	color: white;
	border-radius: 28px;
	border: 0px;
	width: 56px;
	height: 34px;
}

.btn-area button:nth-child(2) {
	background-color: white;
	color: #000000;
}

.bottom-div {
	width: 60%;
	height: 850px;
	margin: auto;
}

.tab-div {
	width: 100%;
	height: 50px;
	display: flex;
	font-size: 16px;
	cursor: pointer;
	color: gray;
}

.tab-div p {
	margin: 0;
	padding-top: 14px;
	padding-bottom: 14px;
}

.tab {
	width: 30%;
	height: 50px;
	border-bottom: 3px solid grey;
}

.bin {
	width: 5%;
	height: 50px;
}

.tab-div .tab :hover {
	font-weight: bold;
	color: black;
	border-bottom: 3px solid #00853D;
}

.item-div {
	width: 100%;
	height: 250px;
	margin: auto;
}

#tab1 {
	width: 100%;
	height: 160px;
}

#tab2 {
	width: 100%;
	height: 160px;
}

#tab3 {
	width: 100%;
	height: 160px;
}

.item-area {
	width: 100%;
	height: 100%;
	padding-bottom: 50px;
	border-bottom: 2px solid gray;
	padding-top: 50px;
}

.item-num {
	width: 10%;
	height: 100%;
	font-weight: bold;
	font-size: 20px;
	float: left;
}

.item-img {
	width: 20%;
	height: 100%;
	float: left;
	margin-right: 10%;
}

.item-img img {
	width: 100%;
	height: 100%;
}

.item-info {
	width: 60%;
	height: 100%;
	float: left;
}

.item-info button {
	width: 122px;
	height: 43px;
	border-radius: 28px;
	font-size: 15px;
	color: black;
	margin-right: 15px;
	background-color: transparent;
}

.item-info button:nth-child(3) {
	width: 122px;
	height: 43px;
	border-radius: 28px;
	font-size: 15px;
	color: white;
	margin-right: 15px;
	background-color: black;
}
.item-info a{
	color:white;
	text-decoration:none;
}

.items {
	width: 300px;
	display: none;
	padding: 10px;
	position: relative;
}

.items.active {
	display: inline-block;
}

.page-div {
	width: 60%;
	margin: auto;
}

.page-div li {
	list-style: none;
}

.page-div a {
	text-decoration: none;
	color: #000000;
}

.page-div ul {
	display: flex;
	justify-content: center;
}

.prev:before {
	content: "\2039";
	width: 23px;
	height: 23px;
	font-size: 50px;
	margin-right: 25px;
}

.nex:after {
	content: "\203A";
	width: 23px;
	height: 23px;
	font-size: 50px;
}

.disable {
	pointer-events: none;
}

/* Footer */
.footer {
	background: #F9F9FA 0% 0% no-repeat padding-box;
	color: #000000;
	font-size: 15px;
	padding: 20px 0;
}

.footer-inner {
	padding: 0 20px 0 20px;
	align-items: center;
	justify-content: space-between;
}

.footer div {
	align-items: center;
}

.footer div i {
	margin-right: 10px;
}

.footer ul {
	display: flex;
	flex-wrap: wrap;
	width: 60%;
	margin: auto;
	padding: 0;
}

.footer li {
	margin-right: 30px;
	list-style: none;
}

.footer a {
	text-decoration: none;
	color: #707070;
}

.footer a:hover {
	color: #00853D;
}

.footer p {
	width: 60%;
	margin: auto;
	color: #707070;
}