<!DOCTYPE html><!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>


<section>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img
                     src="../../static/img/explanation01.png"
                     th:src="@{/img/explanation01.png}"/>
            </div>
            <div class="swiper-slide">
                <img
                     src="../../static/img/explanation02.png"
                     th:src="@{/img/explanation02.png}"/>
            </div>
            <div class="swiper-slide">
                <img
                     src="../../static/img/explanation03.png"
                     th:src="@{/img/explanation03.png}"/>
            </div>
        </div>
    </div>
</section>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</body>
</html>